[flake8]
per-file-ignores =
    __init__.py:F401
    test_*:ANN101
    conftest.py:F405, F403
ignore = E501, W504, W503, ANN101, ANN102
max-line-length = 120
max-complexity = 18
select = B,C,E,F,W,T4,B9
statistics = True